<a href="#play" class="btn btn-small btn-primary offset4 span1" title="Play">
  <span class="fui-play"></span>
</a>
<a href="#stop" class="btn btn-small btn-primary span1" title="Stop">
  <span class="fui-checkbox-unchecked"></span>
</a>