<div class="player container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="file-target-container row-fluid"></div>
    </div>
    <div class="span10">
      <div class="visualization-container row-fluid"></div>
      <div class="controls-container row-fluid">
    </div>
  </div>
</div>